.recipeContainer {
  display: grid;
  gap: 1.5em;
  margin-top: 1em;
}

.recipeContainer .recipe {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;
}

.recipeContainer .recipe img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.recipeContainer .recipe h3 {
  margin-bottom: 0.5em;
}

.recipeContainer .recipe p {
  font-size: 0.9375em;
  margin-bottom: 0.25em;
  color: var(--color-text-muted);
}

.recipeContainer .recipe p:has(strong) {
  color: var(--color-text-main);
}
